<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
        <a href="{{url_for('mrs_doubt_fire')}}"">
            <div class = "plays">
                <div>
                    <img src="/static/doubt.png" alt="" class = "pic"">
                </div>
                <div style="text-indent: 7%;">
                    <h3 style="margin: 3px 0px;">Mrs. Doubtfire</h3>
                    <p style="margin: 3px 0px;">Tue, Nov 8</p>
                    <p style="margin: 7px 0px;">BENEDUM CENTER</p>
                    <p style="margin: 5px 0px;">PNC Broadway in Pittsburgh</p>
                    <h5 style="margin: 8px 0px;">Broadway and Musical Theartre</h5>
                </div>
            </div>
        </a>

        <div class = "plays">
            <div>
                <img src="/static/convo.png" alt="" class = "pic">
            </div>
            <div style="text-indent: 7%;">
                <h3 style="margin: 3px 0px;">Creative Conversations — Mrs. Doubtfire</h3>
                <p style="margin: 3px 0px;">Wed, Nov 29, 2023</p>
                <p style="margin: 7px 0px;">TRUST ARTS EDUCATION CENTER</p>
                <p style="margin: 5px 0px;">Pittsburgh Cultural Trust</p>
                <h5 style="margin: 8px 0px;">Broadway & Musical Theater, Talks & Poetry</h5>
            </div>
        </div>

        
        <div class = "plays">
            <div>
                <img src="/static/talkback.png" alt="" class = "pic">
            </div>
            <div style="text-indent: 7%;">
                <h3 style="margin: 3px 0px;">Mrs. Doubtfire — Broadway Talk Back Series</h3>
                <p style="margin: 3px 0px;">Wed, Nov 29, 2023</p>
                <p style="margin: 7px 0px;">BENEDUM CENTER</p>
                <p style="margin: 5px 0px;">Pittsburgh Cultural Trust</p>
                <h5 style="margin: 8px 0px;">Broadway & Musical Theater, Talks & Poetry</h5>
            </div>
            
        </div>

        
        <div class = "plays">
            <div>
                <img src="/static/story.png" alt="" class = "pic">
            </div>

            <div style="text-indent: 7%;">
                <h3 style="margin: 3px 0px;">A Christmas Story: The Play</h3>
                <p style="margin: 3px 0px;">Play by Philip Grecian</p>
                <p style="margin: 3px 0px;">Thu, Dec 7 - Sat, Dec 23, 2023</p>
                <p style="margin: 7px 0px;">O'REILLY THEATER</p>
                <p style="margin: 5px 0px;">Pittsburgh Public Theater</p>
                <h5 style="margin: 8px 0px;">Comedy  Broadway & Musical Theater, Family</h5>
            </div>
            
        </div>
        
        <div class = "plays">
            <div>
                <img src="/static/carol.png" alt="" class = "pic">
            </div>

            <div style="text-indent: 7%;">
                <h3 style="margin: 3px 0px;">A Musical Christmas Carol</h3>
                <p style="margin: 3px 0px;">Wed, Dec 13 - Sat, Dec 23, 2023</p>
                <p style="margin: 7px 0px;">BYHAM THEATER</p>
                <p style="margin: 5px 0px;">Pittsburgh CLO</p>
                <h5 style="margin: 8px 0px;">Broadway & Musical Theater, Family</h5>
            </div>
            
        </div>

        
        <div class = "plays">
            <div>
                <img src="/static/carol2.png" alt="" class = "pic">
            </div>

            <div style="text-indent: 7%;">
                <h3 style="margin: 3px 0px;">A Lyrical Christmas Carol</h3>
                <p style="margin: 3px 0px;">Wed, Dec 13 - Sun, Dec 17, 2023</p>
                <p style="margin: 7px 0px;">GARGARO THEATER</p>
                <p style="margin: 5px 0px;">Pittsburgh Musical Theater</p>
                <h5 style="margin: 8px 0px;">Broadway & Musical Theater  Family</h5>
            </div>

        </div>
</body>
</html>