<!DOCTYPE html>
<html>
<head>
    <title>Mrs.Doubtfire</title>
</head>
<body>
    <div style ="margin: 0px 5%; background-color: aquamarine;width: 90%;height: 500px;">
        <img src="/static/banner.png" alt="" style="height: 500px;width: 100%;">
    </div>
    <div style ="float:left;margin: 1% 1% 1% 5%; outline:1px solid gray;width: 60%;height: 500px;text-indent: 5%;">
        <h3>“What a hilarious tour-de-force this show is.” – Buffalo Theatre Guide</h3>
        <br>
        <h3>“A hilariously fun time showcasing the power of fighting for your family in whatever form it takes...” – DC Theater</h3>
        <br>
        <h3>A new musical comedy about the things we do to stay together.</h3>
    </div>

    <div style="float:left;margin: 1% 0%;background-color: lightgray;width: 29%;height: 500px;text-indent: 5%;">
        <br>
        
        <form action="/buy_tickets/mrs_doubt_fire/" method="POST"">
            <button style="margin:5%">Get Tickets</button>
        </form>

        <h3>PNC Broadway in Pittsburgh</h3>
        <h3>BENEDUM CENTER</h3>
        <h3>Broadway & Musical Theater</h3>
    </div>

</body>
</html>