<!DOCTYPE html>
<html>
<head>
    <title>Mrs.Doubtfire</title>
</head>
<body>
    <h1>Transaction Completed:</h1>
    <h3>Ticket Information:</h3>
    <ul>
        <p>Show:{{ticket_info.show}}</p>
        <p>Date:{{ticket_info.dateAndTime}}</p>
        <p>Seat Zone:{{ticket_info.zone}}</p>
        <p>Seat Sector:{{ticket_info.sector}}</p>
        <p>Customer Name:{{ticket_info.name}}</p>
        <p>Price:{{ticket_info.price}}</p>
    </ul>
    <br>

    <a href="/">Back to Main Page</a>

</body>
</html>