<!DOCTYPE html>
<html>
    <head>
        <title>Main Menu</title>
        <link rel="stylesheet" href="/static/index.css">
        <script type="text/javascript" src="/static/index.js"></script>
    </head>
    <body>
        <div id = "description">
            <h2>McDonald's Menu</h2>
            <p > McDonald's is the worlds largest chain of hamburger fast food restaurants founded in 1940.
                It features various burgers, types of chicken, sandwhiches. French fries, soft drinks, 
                breakfast items and desserts. In most markets, McDonald's offers salads and vegetarian
                items, wraps and so on.
            </p>
        </div>
        
        <div id = "left">
            <h3>Main Menu</h3>
            <a href="#burgers">
                <div class = "food_selector">
                    <img class = "foods_pic" src="/static/images/burgers/big_mac.jpeg">
                    <h5 style="margin: 0px;">Burgers & Fries</h5>
                </div>
            </a>     

            <a href="#drinks">
                <div class = "food_selector">
                    <img class = "foods_pic" src="/static/images/drinks/coca-cola.jpeg">
                    <h5 style="margin: 0px;">Drinks</h5>
                </div>
            </a>

            <a href="#coffees">
                <div class = "food_selector">
                    <img class = "foods_pic" src="/static/images/coffees/mocha_latte.jpeg">
                    <h5 style="margin: 0px;">Coffees</h5>
                </div>
            </a>

            <a href="#desserts">
                <div class = "food_selector">
                    <img class = "foods_pic" src="/static/images/desserts/McFlurry.jpeg">
                    <h5 style="margin: 0px;">Desserts</h5>
                </div>
            </a>

            <h3 id = "burgers">Burger, Fries and Co.</h3>

            <div class = "food">
                <img class = "food_pic" src="/static/images/burgers/big_mac.jpeg">
                <h5 style="margin: 0px;">Big Mac</h5>
                <input type="number" value ="0" id="big_mac" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/burgers/cheeseburger.jpeg">
                <h5 style="margin: 0px;">Cheeseburger</h5>
                <input type="number" value ="0" id="cheeseburger" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/burgers/quarter_pounder.jpeg">
                <h5 style="margin: 0px;">Quarter Pounder</h5>
                <input type="number" value ="0" id="quarter_pounder" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/burgers/fries.jpeg">
                <h5 style="margin: 0px;">French Fries</h5>
                <input type="number" value ="0" id="fries" class="input" name="input">
            </div>

            <h3 id = "drinks">Drinks</h3>

            <div class = "food">
                <img class = "food_pic" src="/static/images/drinks/coca-cola.jpeg">
                <h5 style="margin: 0px;">Coke</h5>
                <input type="number" value ="0" id="coke" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/drinks/dr_pepper.jpeg">
                <h5 style="margin: 0px;">Dr.Pepper</h5>
                <input type="number" value ="0" id="dr_pepper" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/drinks/fanta_orange.jpeg">
                <h5 style="margin: 0px;">Fanta</h5>
                <input type="number" value ="0" id="fanta" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/drinks/sprite.jpeg">
                <h5 style="margin: 0px;">Sprite</h5>
                <input type="number" value ="0" id="sprite" class="input" name="input">
            </div>

            <h3 id = "coffees">Coffees</h3>

            <div class = "food">
                <img class = "food_pic" src="/static/images/coffees/cappuccino.jpeg">
                <h5 style="margin: 0px;">Cappuccino</h5>
                <input type="number" value ="0" id="cappuccino" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/coffees/caramel_macchiato.jpeg">
                <h5 style="margin: 0px;">Caramel Machiato</h5>
                <input type="number" value ="0" id="caramel_macchiato" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/coffees/iced_mocha.jpeg">
                <h5 style="margin: 0px;">Iced Mocha</h5>
                <input type="number" value ="0" id="iced_mocha" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/coffees/mocha_latte.jpeg">
                <h5 style="margin: 0px;">Mocha Latte</h5>
                <input type="number" value ="0" id="mocha_latte" class="input" name="input">
            </div>

            <h3 id = "desserts">Desserts</h3>

            <div class = "food">
                <img class = "food_pic" src="/static/images/desserts/baked_apple_pie.jpeg">
                <h5 style="margin: 0px;">Baked Apple</h5>
                <input type="number" value ="0" id="apple_pie" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/desserts/chocolate_chips_cookie.jpeg">
                <h5 style="margin: 0px;">Cookies</h5>
                <input type="number" value ="0" id="cookie" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/desserts/hot_fudge_sundae.jpeg">
                <h5 style="margin: 0px;">Hot Fudge Sundae</h5>
                <input type="number" value ="0" id="sundae" class="input" name="input">
            </div>

            <div class = "food">
                <img class = "food_pic" src="/static/images/desserts/McFlurry.jpeg">
                <h5 style="margin: 0px;">McFlurry</h5>
                <input type="number" value ="0" id="mcflurry" class="input" name="input">
            </div>
        </div>

        <div id = "right">
            <h3>Order Summary</h3>
            <form action="/order_summary" method="POST">
                <textarea name="order" id="order" cols="40" rows="15"></textarea>
                <br><br>
                <label for="name">Customer name:</label>
                <input type="text" id="name" name="name">
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>

        <script type="text/javascript"> 
            main_driver();
        </script>
    </body>
</html>